<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../../assets/css/style_dashboard.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="menu col col-md-auto bg-primary ps-0">
            <div class="nav d-flex flex-sm-column flex-row align-items-start justify-content-between sticky-top h-100">
                <div>
                    <a class="navbar-brand align-self-center d-flex align-items-center justify-content-center py-3 mb-5" href="#">
                        <img src="../../assets/img/ur_logo.svg" alt="Logo" class="d-inline-block align-text-top me-2">
                        <span class="fs-3">Spaces</span>
                    </a>
                    <ul class="p-0 m-0">
                            <li class="nav-item active">
                                <a class="nav-link d-flex align-items-center py-1" aria-current="page" href="#">
                                    <span class="fs-4 me-2">
                                        <i class="bi bi-house-fill"></i>
                                    </span>
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center py-1" href="#">
                                    <span class="fs-4 me-2">
                                        <i class="bi bi-calendar-fill"></i>
                                    </span>
                                    Calendario
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center py-1" href="#">
                                    <span class="fs-4 me-2">
                                        <i class="bi bi-clock-fill"></i>
                                    </span>
                                    Reservas
                                </a>
                            </li>
                    </ul>
                </div>
                <div class="bottom-menu">
                    <a class="nav-link d-flex align-items-center py-1" aria-current="page" href="#">
                        <div class="avatar text-primary bg-white me-2">
                            JD
                        </div>
                        Jhon Doe
                    </a>
                    <a class="nav-link d-flex align-items-center py-1" aria-current="page" href="#">
                        <span class="fs-4 me-3">
                            <i class="bi bi-box-arrow-right"></i>
                        </span>
                        Logout
                    </a>
                </div>
            </div>
        </div>
        <div class="col p-0 min-vh-100 text-white d-flex flex-column">
            <div class="breadcrumb p-4 py-3">
                Dashboard
            </div>
            <!-- Content here -->
            <div class="row mx-1">
                <div class="search-bar row">
                    <div class="input-group mb-3 ms-3">
                        <input type="text" class="form-control rounded-start-2" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>

                <div class="btns ms-auto">
                    <button type="button" class="btn btn-secondary ms-3 rounded-3">
                        <span>
                            <i class="bi bi-plus-lg"></i>
                        </span>
                    </button>
                    <button type="button" class="btn btn-secondary mx-2 rounded-3">
                        <span>
                            <i class="bi bi-funnel"></i>
                        </span>
                    </button>
                </div>

            </div>

            <div class="row mx-1">
                <div class="card ms-4 mt-1 rounded-3 px-0" style="width: 15rem; height: 21rem;">
                    <a href="../spaces/edit_space_disabled.html">
                        <img src="https://matizzo.com/wp-content/uploads/2020/04/IMG_6930-scaled.jpg" class="card-img-top rounded-3" alt="...">
                        <div class="card-body">
                        <h5 class="card-text">Salon Ada Lovelace</h5>
                        <p class="card-text mt-0 mb-1">Claustro - Edificio Calatrava - Piso 5</p>
                        <p class="card-text mt-0">
                            <span class="ms-2">
                                <i class="bi bi-people-fill"></i>
                                22
                            </span> 
                            <span class="ms-4">
                                <i class="bi bi-laptop"></i>
                                22
                            </span>
                        </p>
                        </div>
                    </a>
                </div>
                
                <div class="card ms-4 mt-1 rounded-3 px-0" style="width: 15rem; height: 21rem;">
                    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="https://matizzo.com/wp-content/uploads/2020/04/IMG_6930-scaled.jpg" class="card-img-top rounded-3" alt="...">
                        <div class="card-body">
                        <h5 class="card-text">Salon Ada Lovelace</h5>
                        <p class="card-text mt-0 mb-1">Claustro - Edificio Calatrava - Piso 5</p>
                        <p class="card-text mt-0">
                            <span class="ms-2">
                                <i class="bi bi-people-fill"></i>
                                22
                            </span> 
                            <span class="ms-4">
                                <i class="bi bi-laptop"></i>
                                22
                            </span>
                        </p>
                        </div>
                    </a>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                            Salon Ada Lovelace
                            <span class="ms-3">
                                <i class="bi bi-person-fill"></i>
                                22
                            </span>
                            <span class="ms-1">
                                <i class="bi bi-laptop"></i>
                                22
                            </span>
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="https://matizzo.com/wp-content/uploads/2020/04/IMG_6930-scaled.jpg" class="card-img-top rounded-3 mb-3" alt="...">
                            <span>
                                Sala de cómputo
                            </span>
                            <span class="ms-3">
                                <i class="bi bi-geo-alt-fill"></i>
                                Edificio Calatrava - Piso 5
                            </span>
                            <br>
                            <p class="mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia eaque necessitatibus id quas excepturi porro cumque, praesentium commodi.</span>
                        </div>
                        <div class="modal-footer">
                        <a type="button" class="btn btn-primary" href="form.html">
                            <span>
                                <i class="bi bi-person-fill"></i>
                            </span>
                            Individual
                        </a>
                        <a type="button" class="btn btn-primary" href="form.html">
                            <span>
                                <i class="bi bi-people-fill"></i>
                            </span>
                            Grupal
                        </a>
                        </div>
                    </div>
                    </div>
                </div>



            </div>

            <footer class="footer bg-secondary px-2 py-3 mt-auto d-flex justify-content-between align-items-center">
                RLV2© 2023
                <img src="../../assets/img/ur_logotype.svg" alt="Logo" class="d-inline-block align-text-top me-2 logo">
            </footer>
        </div>
    </div>
</div>
<!-- Bootstrap link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
