<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../../assets/css/style.css">
    <link type="text/css" rel="stylesheet" href="../../assets/css/base.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="menu col col-md-auto bg-primary ps-0">
            <div class="nav d-flex flex-sm-column flex-row align-items-start justify-content-between sticky-top h-100">
                <div>
                    <a class="navbar-brand align-self-center d-flex align-items-center justify-content-center py-3 mb-5" href="#">
                        <img src="../../assets/img/ur_logo.svg" alt="Logo" class="d-inline-block align-text-top me-2">
                        <span class="fs-3">Spaces</span>
                    </a>
                    <ul class="p-0 m-0">
                            <li class="nav-item active">
                                <a class="nav-link d-flex align-items-center py-1" aria-current="page" href="#">
                                    <span class="fs-4 me-2">
                                        <i class="bi bi-house-fill"></i>
                                    </span>
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center py-1" href="#">
                                    <span class="fs-4 me-2">
                                        <i class="bi bi-calendar-fill"></i>
                                    </span>
                                    Calendario
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center py-1" href="#">
                                    <span class="fs-4 me-2">
                                        <i class="bi bi-clock-fill"></i>
                                    </span>
                                    Reservas
                                </a>
                            </li>
                    </ul>
                </div>
                <div class="bottom-menu">
                    <a class="nav-link d-flex align-items-center py-1" aria-current="page" href="#">
                        <div class="avatar text-primary bg-white me-2">
                            JD
                        </div>
                        Jhon Doe
                    </a>
                    <a class="nav-link d-flex align-items-center py-1" aria-current="page" href="#">
                        <span class="fs-4 me-3">
                            <i class="bi bi-box-arrow-right"></i>
                        </span>
                        Logout
                    </a>
                </div>
            </div>
        </div>
        <div class="col p-0 min-vh-100 text-white d-flex flex-column">
            <div class="breadcrumb p-4 py-3">
              <a href="./bookings.html">  Reservas </a>
            </div>
            <!-- Content here -->

           
            <!-- card horizontal con foto a la derecha -->
            
            <div class="card mb-3 card-first">
                <a href="" data-bs-toggle="modal" data-bs-target="#desition"  > 
                <div class="row g-0">

                    <div class="col-2">
                        <div class="foto-perfil">
                            <img src="../../assets/img/fotoperf.webp">
                        </div>
                    </div>
                    
                  <div class="col-6">
                    <div class="card-body">
                      <h5 class="card-title">Salon Ada Love Lace
                        <br>
                        Uso del salon para realizar un proyecto de la materia de sistemas operativos
                      </h5>

                      <p class="card-text">Camilo Andres Fernandez Sarmiento</p>
                    </div>
                    
                  </div>
                  <div class="col-4 foto-lab" >
                    <img src="../../assets/img/space.jpg">
                  </div>

                </div>
              </a>

            </div>
            <!-- card horizontal con foto a la derecha -->


            <!-- card horizontal con foto a la derecha -->
            
            <div class="card mb-3 card-first">
              <a href="" data-bs-toggle="modal" data-bs-target="#cancel"  > 
              <div class="row g-0">

                  <div class="col-2">
                      <div class="foto-perfil">
                          <img src="../../assets/img/fotoperf.webp">
                      </div>
                  </div>
                  
                <div class="col-6">
                  <div class="card-body">
                    <h5 class="card-title">Salon Ada Love Lace
                      <br>
                      Uso del salon para realizar un proyecto de la materia de sistemas operativos
                    </h5>

                    <p class="card-text">Camilo Andres Fernandez Sarmiento</p>
                  </div>
                  
                </div>
                <div class="col-4 foto-lab" >
                  <img src="../../assets/img/space.jpg">
                </div>

              </div>
            </a>

          </div>
          <!-- card horizontal con foto a la derecha -->

            <!-- card horizontal con foto a la derecha -->
            <div class="card mb-3">
                <div class="row g-0">

                    <div class="col-2">
                        <div class="foto-perfil">
                            <img src="../../assets/img/fotoperf.webp">
                        </div>
                    </div>
                    
                  <div class="col-6">
                    <div class="card-body">
                      <h5 class="card-title">Salon Ada Love Lace
                        <br>
                        Uso del salon para realizar un proyecto de la materia de sistemas operativos
                      </h5>

                      <p class="card-text">Camilo Andres Fernandez Sarmiento</p>
                    </div>
                    
                  </div>
                  <div class="col-4 foto-lab" >
                    <img src="../../assets/img/space.jpg">
                  </div>

                </div>
            </div>
            <!-- card horizontal con foto a la derecha -->

          
            <!-- Modal Desition-->
             
            <div class="modal fade" tabindex="-1" id="desition" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">
                      Salon Ada Lovelace <br>
                      Proyecto clase de programación
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    

                    <h5>
                      Horarios:
                    </h5>
                    <ul>
                      <li>
                        1/1/24, 7:00 am - 9:00 am
                      </li>

                      <li>
                        8/1/24, 7:00 am - 9:00 am
                      </li>
                    </ul>

                    <h6>Pido uso del salon Lovelace con el fin de poder adelantar mi proyecto de la clase de programación de computadores </h6>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rechazar</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal Desition-->


            <!-- Modal Cancel-->
             
            <div class="modal fade" tabindex="-1" id="cancel" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">
                      Salon Ada Lovelace <br>
                      Proyecto clase de programación
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    

                    <h5>
                      Horarios:
                    </h5>
                    <ul>
                      <li>
                        1/1/24, 7:00 am - 9:00 am
                      </li>

                      <li>
                        8/1/24, 7:00 am - 9:00 am
                      </li>
                    </ul>

                    <h6>Pido uso del salon Lovelace con el fin de poder adelantar mi proyecto de la clase de programación de computadores </h6>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar mi reserva</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal Cancel-->

            <!-- Content here -->
            <footer class="footer bg-secondary px-2 py-3 mt-auto d-flex justify-content-between align-items-center">
                RLV2© 2023
                <img src="../../assets/img/ur_logotype.svg" alt="Logo" class="d-inline-block align-text-top me-2 logo">
            </footer>
        </div>
    </div>
</div>
<!-- Bootstrap link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>