.env {
    width: 5rem !important;
    /*height: 3rem;*/
}

.ca2 {
    box-shadow: 0px 5px 7px #837878;
    /*width: 35rem; */ 
    min-height: 41rem !important;
}

.c_img3 {
    height: 50%;
    object-fit: cover;
    max-height: 400px;
}