@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.profile-avatar img{
    /*object-fit: cover;*/
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.profile-text {
    color: black;
    font-size: 48px;
    font-weight: 120;
    margin-bottom: 50px;
}

.modal-title h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 120;
    text-align: left;
    padding: 30px;
}

.filter {
    background-color: #001D34;
    color: white;
    padding: 10px;
}

.dropdown {

}