.mb-3{
    
    max-width: 90%;
    max-height: 310px;

}

.mb-3 img{
    max-width: 40%;
    max-height: 40%;
}

.foto-perfil img{
    border-radius: 0%;
    float: left;
    width: 300px;
    height: 150px;
}

.foto-lab img{
    width: 300px;
    height: 100px;
}


.g-0 {
    margin-bottom: 40px;

}

.card {
    width: 100%;
    /* width: 50%;*/
    float: left;
    margin-bottom: 20px;
}


