
.card-first{
    width: 88%;
    height: 15%;
    margin: 40px 0px 20px 100px;
}

.card{
    width: 88%;
    height: 15%;
    margin: 10px 0px 20px 100px;

}

.foto-perfil img{
    border-radius: 50%;
    float: left;
    width: 45%;
    height: 30%;
    margin: 10px 0px 10px 20px;
}

.foto-lab img{
    float: right;
    width: 400px;
    height: 140px;
    
}

