.mb-3{
    
    max-width: 90%;
    max-height: 310px;

}

.mb-3 img{
    max-width: 40%;
    max-height: 40%;
}

.foto-perfil{
    border-radius: 100%;
}

.g-0 {
    margin-bottom: 40px;

}

.card {
    width: 100%;
    /* width: 50%;*/
    float: left;
    margin-bottom: 20px;
}

.card-body {
    white-space: nowrap;
    overflow-x: auto;
}
  